:root {
  --color: #293241;
  --txt-font-fam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --txt-font-fam2: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100vh;
}

/* Nav Tabs */
.nav-content ul {
  padding: 10px;
  font-family: var(--txt-font-fam);
  font-size: 20px;
  font-style: inherit;
}

.nav-content .nav-link {
  font-weight: bolder;
  color: var(--color);
  transition: 0.3s;
}

.nav-content .nav-link:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 3px rgb(0 0 0 / 25%);
  color: #98c1d9;
}

.nav-content .btn {
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 4px;
  font-family: var(--txt-font-fam);
  font-weight: bolder;
}

.nav-content .btn:hover {
  background-color: var(--color);
}
.btn-nav {
  height: 40px;
  width: 87px;
}

/* Login/Sign-In and Sign-Up*/
.login {
  min-height: 100vh;
  background-color: var(--color);
}

.card-body {
  margin-top: 30px;
  text-align: center;
  font-family: var(--txt-font-fam2);
}

.login-title {
  font-size: 23px;
  color: white;
}

.input-group .sign-in {
  width: 30%;
  margin-left: 35%;
}

/* ---------------- */

.sign-up-form {
  min-height: 100vh;
  background-color: var(--color);
}

.sign-up-title {
  font-size: 23px;
  color: white;
}

.input-group .sign-up {
  width: 30%;
  margin-left: 35%;
}

/* //Rankings.js and Portfolio.js */

.ranking-page h4 {
  font-weight: bold;
}

.port-val {
  font-size: 20px;
}

.btn-port-val {
  font-weight: bold !important;
}

.logos {
  max-height: 75px;
  max-width: 75px;
}

tr {
  text-align: center;
}

.ranking-page .table {
  background-color: #4b4f54;
  border-radius: 30px;
  margin-left: 10px;
  width: 60%;
  float: left;
  color: white;
}

.donut {
  width: 35%;
  float: left;
}


.transaction {
  height: 100vh;
  width: 100%;
  background-color: var(--color);
  color: white;
  overflow: hidden;
}
.transactionCont {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#comingSoon {
  font-size: 80px;
}

/* Add Asset */

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color);
  color: white;
  font-family: var(--txt-font-fam2);
}

.asset-content {
  margin-top: 50px;
  width: 700px;
}

.asset-title {
  margin-bottom: 25px;
  font-size: 28px;
}

.form-group {
  align-items: center;
}

.btn-asset {
  height: 50px;
  width: 160px;
  margin-top: 15px;
  margin-left: 300px;
}

.value-banner {
  border: 5px solid orange;
  border-radius: 20px;
  width: 75%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* news */
/* .news-section {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color);
  color: white;
} */

.news-card {
  margin-left: 50px;
}

.news-search {
  height: 30px !important;
  width: 400px !important;
  margin-top: 35px;
}

.news-btn {
  margin-bottom: 4px;
}

.news-content p {
  padding: 0;
  width: 1000px;
}

.news-content img {
  margin-bottom: 20px;
  width: 500px;
}

.news-content hr {
  width: 1000px;
}

.market-cap-rankigns {
  width:75%;
  border-radius: 30px;
  border: 1px solid black;
  margin: auto;
}
