
/* #landingWrap {
    position: relative;
    top: 300px;
	left: 50px;
	z-index: 100;
	
} */

#info {
    background-color: rgba(245, 245, 245, 0.829);
	border-radius: 35px;
	border: 10px, dashed, navy;
	position: relative;
	top: 10px;
	width: 40%;
	text-align: center;
	z-index: 100;
	display:block;
}

/* #sign-up {
	position: relative;
	right: 50px;

}

#login {
	position: relative;
	left: 50px;
} */
