div div div[style] {
	width: 40%;
}

#info {
    background-color: rgba(255, 250, 250, 0.918);
	border-radius: 35px;
	border-style: solid;
	border-color: red;
	border-width: 1px;
	position: relative;
	top: 10px;
	text-align: center;
	z-index: 100;
}

p {
	padding-left: 40px;
	padding-right: 40px;
}

#sign-up {
	position: relative;
	right: 50px;
	bottom: 15px;
}

#login {
	position: relative;
	left: 50px;
	bottom: 15px;
}

#rankings {
	position: relative;
	left: 50px;
	bottom: 15px;
}

#news {
	position: relative;
	right: 50px;
	bottom: 15px;
}
